<div class= "container">
    <ngb-alert *ngIf="successMessage" type="{{ alert.type }}" (close)="successMessage = null">{{ alert.msg }}</ngb-alert>
</div>
<form (ngSubmit)="onSubmit(forma)" #forma="ngForm">
    <div class="animated fadeIn">
        <div class="card">
            <div class="card-header">
                Ingrese Información de <code>Simuladores </code>
            </div>

            <div class="card-body">
                <!--<alert *ngIf="submit" [type]="alert.type" [dismissible]="dismissible">{{ alert.msg }}</alert>-->
                <div class="row">
                    <div class="form-group col-sm-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-drivers-license-o "> Código</i>
                                </span>
                            </div>
                            <input type="text" id="codigo" name="codigo" class="form-control" placeholder="Código"
                                [(ngModel)]="simulador.codigo" required>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user"> Nombre</i></span>
                            </div>
                            <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre"
                                [(ngModel)]="simulador.nombre" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user"> Ubicación</i></span>
                            </div>
                            <input type="text" id="ubicacion" name="ubicacion" class="form-control" placeholder="Ubicación"
                                [(ngModel)]="simulador.ubicacion" required>
                        </div>
                    </div>                    
                </div>        
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button [disabled]="!forma" type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>